In [1]:
import QuantLib as ql
calculation_date = ql.Date(20, 10, 2015)
ql.Settings.instance().evaluationDate = calculation_date

In [2]:
risk_free_rate = 0.01
libor_rate = 0.02
day_count = ql.Actual365Fixed()

discount_curve = ql.YieldTermStructureHandle(ql.FlatForward(calculation_date, risk_free_rate, day_count))
libor_curve = ql.YieldTermStructureHandle(ql.FlatForward(calculation_date, risk_free_rate, day_count))
libor3M_index = ql.USDLibor(ql.Period(3, ql.Months), libor_curve)

In [3]:
calendar = ql.UnitedStates()
settle_date = calendar.advance(calculation_date, 5, ql.Days)
maturity_date = calendar.advance(settle_date, 10, ql.Years)

fixed_leg_tenor = ql.Period(6, ql.Months)
fixed_schedule = ql.Schedule(settle_date, maturity_date, fixed_leg_tenor, calendar, ql.ModifiedFollowing, ql.ModifiedFollowing, ql.DateGeneration.Forward, False)

float_leg_tenor = ql.Period(3, ql.Months)
float_schedule = ql.Schedule(settle_date, maturity_date, float_leg_tenor, calendar, ql.ModifiedFollowing, ql.ModifiedFollowing, ql.DateGeneration.Forward, False)

In [4]:
notional = 10000000
fixed_rate = 0.025
fixed_leg_daycount = ql.Actual360()
float_spread = 0.004
float_leg_daycount = ql.Actual360()

ir_swap = ql.VanillaSwap(ql.VanillaSwap.Payer, notional, fixed_schedule, fixed_rate, fixed_leg_daycount, float_schedule, libor3M_index, float_spread, float_leg_daycount)

In [5]:
swap_engine = ql.DiscountingSwapEngine(discount_curve)
ir_swap.setPricingEngine(swap_engine)

In [6]:
import pandas as pd
pd.DataFrame([(cf.date(), cf.amount()) for cf in ir_swap.leg(0)], columns=["Date", "Amount"], index=range(1, len(ir_swap.leg(0))+1))

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>April 27th, 2016</td>
      <td>127083.333333</td>
    </tr>
    <tr>
      <th>2</th>
      <td>October 27th, 2016</td>
      <td>127083.333333</td>
    </tr>
    <tr>
      <th>3</th>
      <td>April 27th, 2017</td>
      <td>126388.888889</td>
    </tr>
    <tr>
      <th>4</th>
      <td>October 27th, 2017</td>
      <td>127083.333333</td>
    </tr>
    <tr>
      <th>5</th>
      <td>April 27th, 2018</td>
      <td>126388.888889</td>
    </tr>
    <tr>
      <th>6</th>
      <td>October 29th, 2018</td>
      <td>128472.222222</td>
    </tr>
    <tr>
      <th>7</th>
      <td>April 29th, 2019</td>
      <td>126388.888889</td>
    </tr>
    <tr>
      <th>8</th>
      <td>October 28th, 2019</td>
      <td>126388.888889</td>
    </tr>
    <tr>
      <th>9</th>
      <td>April 27th, 2020</td>
      <td>126388.888889</td>
    </tr>
    <tr>
      <th>10</th>
      <td>October 27th, 2020</td>
      <td>127083.333333</td>
    </tr>
    <tr>
      <th>11</th>
      <td>April 27th, 2021</td>
      <td>126388.888889</td>
    </tr>
    <tr>
      <th>12</th>
      <td>October 27th, 2021</td>
      <td>127083.333333</td>
    </tr>
    <tr>
      <th>13</th>
      <td>April 27th, 2022</td>
      <td>126388.888889</td>
    </tr>
    <tr>
      <th>14</th>
      <td>October 27th, 2022</td>
      <td>127083.333333</td>
    </tr>
    <tr>
      <th>15</th>
      <td>April 27th, 2023</td>
      <td>126388.888889</td>
    </tr>
    <tr>
      <th>16</th>
      <td>October 27th, 2023</td>
      <td>127083.333333</td>
    </tr>
    <tr>
      <th>17</th>
      <td>April 29th, 2024</td>
      <td>128472.222222</td>
    </tr>
    <tr>
      <th>18</th>
      <td>October 28th, 2024</td>
      <td>126388.888889</td>
    </tr>
    <tr>
      <th>19</th>
      <td>April 28th, 2025</td>
      <td>126388.888889</td>
    </tr>
    <tr>
      <th>20</th>
      <td>October 27th, 2025</td>
      <td>126388.888889</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
pd.DataFrame([(cf.date(), cf.amount()) for cf in ir_swap.leg(1)], columns=["Date", "Amount"], index=range(1, len(ir_swap.leg(1))+1))

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>January 27th, 2016</td>
      <td>35459.494190</td>
    </tr>
    <tr>
      <th>2</th>
      <td>April 27th, 2016</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>3</th>
      <td>July 27th, 2016</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>4</th>
      <td>October 27th, 2016</td>
      <td>35459.494190</td>
    </tr>
    <tr>
      <th>5</th>
      <td>January 27th, 2017</td>
      <td>35459.494190</td>
    </tr>
    <tr>
      <th>6</th>
      <td>April 27th, 2017</td>
      <td>34687.958948</td>
    </tr>
    <tr>
      <th>7</th>
      <td>July 27th, 2017</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>8</th>
      <td>October 27th, 2017</td>
      <td>35459.494190</td>
    </tr>
    <tr>
      <th>9</th>
      <td>January 29th, 2018</td>
      <td>36231.059532</td>
    </tr>
    <tr>
      <th>10</th>
      <td>April 27th, 2018</td>
      <td>33916.453804</td>
    </tr>
    <tr>
      <th>11</th>
      <td>July 27th, 2018</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>12</th>
      <td>October 29th, 2018</td>
      <td>36231.059532</td>
    </tr>
    <tr>
      <th>13</th>
      <td>January 28th, 2019</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>14</th>
      <td>April 29th, 2019</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>15</th>
      <td>July 29th, 2019</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>16</th>
      <td>October 28th, 2019</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>17</th>
      <td>January 27th, 2020</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>18</th>
      <td>April 27th, 2020</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>19</th>
      <td>July 27th, 2020</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>20</th>
      <td>October 27th, 2020</td>
      <td>35459.494190</td>
    </tr>
    <tr>
      <th>21</th>
      <td>January 27th, 2021</td>
      <td>35459.494190</td>
    </tr>
    <tr>
      <th>22</th>
      <td>April 27th, 2021</td>
      <td>34687.958948</td>
    </tr>
    <tr>
      <th>23</th>
      <td>July 27th, 2021</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>24</th>
      <td>October 27th, 2021</td>
      <td>35459.494190</td>
    </tr>
    <tr>
      <th>25</th>
      <td>January 27th, 2022</td>
      <td>35459.494190</td>
    </tr>
    <tr>
      <th>26</th>
      <td>April 27th, 2022</td>
      <td>34687.958948</td>
    </tr>
    <tr>
      <th>27</th>
      <td>July 27th, 2022</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>28</th>
      <td>October 27th, 2022</td>
      <td>35459.494190</td>
    </tr>
    <tr>
      <th>29</th>
      <td>January 27th, 2023</td>
      <td>35459.494190</td>
    </tr>
    <tr>
      <th>30</th>
      <td>April 27th, 2023</td>
      <td>34687.958948</td>
    </tr>
    <tr>
      <th>31</th>
      <td>July 27th, 2023</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>32</th>
      <td>October 27th, 2023</td>
      <td>35459.494190</td>
    </tr>
    <tr>
      <th>33</th>
      <td>January 29th, 2024</td>
      <td>36231.059532</td>
    </tr>
    <tr>
      <th>34</th>
      <td>April 29th, 2024</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>35</th>
      <td>July 29th, 2024</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>36</th>
      <td>October 28th, 2024</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>37</th>
      <td>January 27th, 2025</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>38</th>
      <td>April 28th, 2025</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>39</th>
      <td>July 28th, 2025</td>
      <td>35073.722806</td>
    </tr>
    <tr>
      <th>40</th>
      <td>October 27th, 2025</td>
      <td>35073.722806</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
print("%-20s: %20.3f" % ("Net Present Value", ir_swap.NPV()))
print("%-20s: %20.3f" % ("Fair Spread", ir_swap.fairSpread()))
print("%-20s: %20.3f" % ("Fair Rate", ir_swap.fairRate()))
print("%-20s: %20.3f" % ("Fixed Leg BPS", ir_swap.fixedLegBPS()))
print("%-20s: %20.3f" % ("Floating Leg BPS", ir_swap.floatingLegBPS()))

Net Present Value   :         -1069626.677
Fair Spread         :                0.015
Fair Rate           :                0.014
Fixed Leg BPS       :            -9629.981
Floating Leg BPS    :             9642.042